<div class="login-back">
    <div class = 'login'>
      <form nz-form [formGroup]="validateForm"  class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入用户名或邮箱!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userCode" placeholder="用户名" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入密码!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row  >
          <div nz-col [nzSpan]="8">
            <label nz-checkbox formControlName="remember">
              <span>记住我</span>
            </label>
          </div>
          <div nz-col [nzSpan]="8">
            <a  >忘记密码？</a>
          </div>
          <div nz-col [nzSpan]="8">
            <a  >立即注册！</a>
          </div>
        </div>
        <button nz-button class="login-form-button" [disabled]="!validateForm.valid"  [nzType]="'primary'">登录</button>
        <!-- <span style="margin-left: 60%;">或者 <a> 立即注册! </a></span> -->
      </form>
    </div>
    

</div>