<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar" nzTheme="light"  nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>jenkin hotch-potch</h1>
      </a>
    </div>

    <ul nz-menu nzMode="inline"  [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menuTree }"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children||menu.children.length==0"
            nz-menu-item
            nzMatchRouter
            [nzPaddingLeft]="(menu.level+1) * 24"
            [nzDisabled]="menu.disabled"
            [nzSelected]="menu.selected"
           
          >
            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
            <a [routerLink]="menu.routeUrl">{{ menu.title }}</a>
             
          </li>
          <li
            *ngIf="menu.children&&menu.children.length>0"
            nz-submenu
            [nzPaddingLeft]="(menu.level+1) * 24"
            [nzOpen]="menu.open"
            [nzTitle]="menu.title"
            [nzIcon]="menu.icon"
            [nzDisabled]="menu.disabled"
          >
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>

  </nz-sider>
  <nz-layout nzTheme="light" >
    <nz-header >

      <div  class="app-header light"> 
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        
      
        <div  data-v-140f1ee1 class="user-wrapper light">

          <nz-space [nzSize]='12'>
            <nz-space-item  *ngIf='userinfo' >
              欢迎您  {{userinfo.userName}}
            </nz-space-item>
          <nz-space-item style=' cursor: pointer;'>
            <nz-avatar *ngIf='!userinfo' [nzShape]="'square'" [nzIcon]="'user'"></nz-avatar>
            <nz-badge  *ngIf='userinfo'  [nzCount]="5"  >
              <nz-avatar   nz-popover  [nzPopoverContent]="contentTemplate" [nzSrc]="userinfo.iconSrc" [nzShape]="'square'"></nz-avatar>
           
              <ng-template #contentTemplate>
                <div>
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item><i nz-icon nzType="edit" nzTheme="outline"></i>修改个人信息</li>
                    <li nz-menu-item><i nz-icon nzType="message" nzTheme="outline"></i>查看消息</li>
                    <li nz-menu-item><i nz-icon nzType="unordered-list" nzTheme="outline"></i>我的任务列表</li>
                   </ul>
                   
                </div>
              </ng-template>
            </nz-badge>            
          </nz-space-item>
          <nz-space-item>
            <span  (click)="logOut()" class="action">
              <i style="z-index: 3; " nz-icon nzType="logout" nzTheme="outline"></i>
              <span style="z-index: 3; ">&nbsp;退出登录</span>
            </span>           
          </nz-space-item>
           </nz-space>

        
         
        </div>
      </div>

      
    </nz-header>
    <nz-content >
      <div  class="inner-content" >
        <nz-breadcrumb [nzAutoGenerate]="'true'" [nzRouteLabel]="'customBreadcrumb'">
           
        </nz-breadcrumb>
        <nz-divider></nz-divider>
        <nz-back-top ></nz-back-top>

        <router-outlet ></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>