<!-- 查询表单 -->
<nz-space [nzSize]='12'nzDirection='vertical'  style='width: 100%;'>
<form *ngIf ='showSearch' nz-form [formGroup]='searchValidateForm' class='ant-advanced-search-form'>
  <nz-space-item > 
  <div nz-row [nzGutter]='24'>
    <div nz-col [nzSpan]='4' *ngFor='let control of controlArray' >
      <nz-form-item>
        <nz-form-label >{{control.name}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder='{{control.name}}' [formControlName]='control.code' [attr.id]='control.code' />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-space-item>
  <nz-space-item >
  <div nz-row style='margin-left: 90%;'>
    <div nz-col [nzSpan]='24' class='search-area'>
      <nz-space [nzSize]='12'>
        <nz-space-item >
      <button nz-button [nzType]='"primary"' (click)='searchData()' >查询</button>
    </nz-space-item>
    <nz-space-item >
      <button nz-button (click)='resetForm()'>重置</button>
    </nz-space-item>
      </nz-space>
    </div>
  </div>
</nz-space-item>
</form>
<nz-space-item >
<div> </div>
</nz-space-item>
</nz-space>


<!-- 列表 -->
<nz-space [nzSize]='12'nzDirection='vertical'  style='width: 100%;'>
  <nz-space-item >
<div class='table-operations'>
  <nz-space [nzSize]='12'>
    <nz-space-item>
  <button nz-button (click)='createData("drawer")'>新增</button>
  </nz-space-item>
  <nz-space-item>
  <button nz-button (click)='deleteData()'>删除选中</button>
  </nz-space-item>
  </nz-space>
</div>
</nz-space-item>
  <nz-space-item>
    <div >
<nz-table *ngIf='!isFormEdit' nzShowSizeChanger [nzData]='dataList' 
(nzQueryParams)="onTableLoad($event)"  [nzBordered]='true' 
[nzFrontPagination]='false' [nzLoading]='loading'
  [nzTotal]='total' [nzPageSize]='pageSize' [nzPageIndex]='pageIndex' >
  <thead>
    <tr>
      <th [(nzChecked)]='checked' [nzIndeterminate]='indeterminate' (nzCheckedChange)='onAllChecked($event)'></th>
     <th nzColumnKey='roleCode' [nzSortFn]='true'>角色编号</th>
      <!--TODO-->
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let data of dataList'>
    <td [nzChecked]='setOfCheckedId.has(data.id)' (nzCheckedChange)='onItemChecked(data.id, $event)'></td>
    <td>{{data.roleCode}}</td>
    <!-- TODO -->
      <td><a (click)='editData(data,"drawer")'>编辑</a></td>
    </tr>
  </tbody>
</nz-table>
</div>
</nz-space-item>
</nz-space>

<nz-drawer [nzWidth]='drawerWidth' class='drawer-edit' [nzClosable]='false' [nzVisible]='visibleDrawer' nzPlacement='right'
  nzTitle='编辑' [nzFooter]='footerTpl' (nzOnClose)='close()'>
  <ng-container *nzDrawerContent>
    <form *ngIf='isDrawerEdit' nz-form [formGroup]='validateForm'>

     <!--  
  <nz-form-item aria-disabled='true'>
    <nz-form-label [nzSm]='6' [nzXs]='24' nzRequired nzFor='userCode'>用户编号</nz-form-label>
    <nz-form-control [nzSm]='14' [nzXs]='24'>
      <input disabled nz-input formControlName='userCode' id='userCode' />
    </nz-form-control>
  </nz-form-item> -->
       
    </form>
  </ng-container>
  <ng-template #footerTpl>
    <div style='float: right'>
      <button nz-button style='margin-right: 8px;' (click)='close()'>取消</button>
      <button nz-button nzType='primary' (click)='submitForm()'>提交</button>
    </div>
  </ng-template>
  
</nz-drawer>