

<nz-space  [nzSize]="12"nzDirection="vertical"  style="width: 100%;">
    <nz-space-item>
        <div class="table-operations">
            <nz-space [nzSize]="12">
              <nz-space-item>
            <button nz-button (click)="createData('drawer')">新增子菜单</button>
            </nz-space-item>
            <nz-space-item>
                <button nz-button (click)="reload()">重新加载</button>
                </nz-space-item>
            </nz-space>
            
          </div>
</nz-space-item>
<nz-space-item>
    <nz-table #expandTable [nzData]="dataList" nzTableLayout="fixed"  [nzBordered]='true'  [nzLoading]='loading' >
        <thead>
            <tr>
                <th>菜单编码</th>
                <th>菜单名称</th>
                <th>菜单层级</th>
                <th>菜单顺序</th>
                <th>菜单icon</th>
                <th>上级菜单</th>
                <th>菜单Url</th>
                <th>菜单类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of expandTable.data">
                <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
                    <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                        <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!item.isLeaf" [(nzExpand)]="item.expand"
                            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
                            {{ item.menuCode }}
                        </td>
                        <td>{{ item.menuName }}</td>
                        <td>{{ item.level }}</td>
                        <td>{{ item.menuOrder }}</td>
                        <td> <i nz-icon [nzType]="item.menuIcon"></i> </td>
                        <td>{{ item.parent==undefined?'':item.parent.menuName }}</td>
                        <td>{{ item.menuUrl }}</td>
                        <td>{{ MENU_TYPE[item.menuType] }}</td>
                        <td>
                            <nz-space [nzSize]='12'>
                                <nz-space-item>
                                    <a (click)="editData(item,'drawer')">编辑</a>       
                                </nz-space-item>
                                           
                                <nz-space-item>
                                    <a (click)="deleteSingleData(item.key,'drawer')">删除</a>          
                                </nz-space-item>
                             </nz-space>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </nz-table>
</nz-space-item>


</nz-space>




<!-- 编辑页面 抽屉-->

<nz-drawer [nzWidth]="drawerWidth" class="drawer-edit" [nzClosable]="false" [nzVisible]="visibleDrawer"
    nzPlacement="right" nzTitle="编辑菜单信息" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <form *ngIf="isDrawerEdit" nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="menuCode">菜单编码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="请输入正确的菜单名称">
                    <input nz-input formControlName="menuCode" id="menuCode" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="menuName">菜单名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入正确的菜单名称">
                    <input nz-input formControlName="menuName" id="menuName" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="level">菜单层级</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入正确的菜单层级">
                    <input readonly='true' nz-input formControlName="level" id="level" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label *ngIf='maxOrder<=0' [nzSm]="6" [nzXs]="24"  nzRequired nzFor="menuOrder"   nzTooltipTitle="请选择上级菜单"  >菜单顺序</nz-form-label>
                <nz-form-label  *ngIf='maxOrder>0' [nzSm]="6" [nzXs]="24"  nzRequired nzFor="menuOrder"   [nzTooltipTitle]="'最小序号：1 最大序号 '+maxOrder"  >菜单顺序</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="请输入正确的菜单顺序">
                    <nz-input-number  [nzDisabled]="maxOrder<=0" style="width: 100%;"  [nzMin]="1" [nzMax]="maxOrder" [nzStep]="1" formControlName="menuOrder" id="menuOrder" ></nz-input-number>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="menuIcon">菜单icon</nz-form-label>

                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入正确的菜单icon">

                    <div nz-row>
                        <div nz-col style="text-align: center;" [nzSpan]="15"  >
                            <i nz-icon [nzType]='validateForm.get("menuIcon").value'> </i>
                        </div>
                        <div nz-col [nzSpan]="9"  >
                            <app-choose-icon [defaultSelectIcon]='defaultSelectIcon()'
                            (onConfirm)="confirmChooseIcon($event)"></app-choose-icon>
                        </div>
                      </div>
                    
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="parentId">上级菜单</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择正确的上级菜单">
                    <div nz-row>
                        <div nz-col [nzSpan]="15"  >
                            <input readonly style="width:95%" nz-input formControlName="parentName" id="parentName" />
                        </div>
                        <div nz-col [nzSpan]="9"  >
                            <app-choose-menu [defaultSelectId]='validateForm.get("parentId").value'
                            (onConfirm)="confirmChooseMenu($event)" [showButton]="false" ></app-choose-menu>
                        </div>
                      </div>
                    
                   
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="menuUrl">菜单Url</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入正确的菜单Url">
                    <input nz-input formControlName="menuUrl" id="menuUrl" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="menuType">菜单类型</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择正确的菜单类型">
                    <nz-select formControlName="menuType" id="menuType">
                        <nz-option *ngFor="let type of  menuTypeChooseList" [nzValue]="type.key" [nzLabel]="type.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf='validateForm.get("menuType").value==2'>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="permissions">授权标识</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择正确的授权标识">
                   
                    <nz-select nzAllowClear  formControlName="permissions" id="permissions"
                     nzPlaceHolder="请选择授权标识" nzMode="multiple" >
                        <nz-option *ngFor="let permission of  permissionList" [nzValue]="permission.permissionCode" 
                         [nzLabel]="permission.permissionName"></nz-option>/
                      </nz-select>
                   
                </nz-form-control>
            </nz-form-item>
        </form>


    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">取消</button>
            <button nz-button nzType="primary" (click)="submitForm()">提交</button>
        </div>
    </ng-template>

</nz-drawer>