 
       
 

        <div class="gutter-example">
            <div nz-row [nzGutter]="[hGutter, vGutter]">
              <div nz-col class="gutter-row" [nzSpan]="24 / categories.length" *ngFor="let data of categories">
                <div class="grid-config">
                    <nz-card nzHoverable  #card style="width:300px;" [nzCover]="coverTemplate">
                        <nz-card-meta [nzTitle]="data.name" [nzDescription]="data.count">
                        </nz-card-meta>
                        <ng-template #coverTemplate>
                            <img   [src]="data.cover" />
                        </ng-template>
                        </nz-card>
                    
                </div>
              </div>
              
            </div>
          </div>